/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

.navbar-nav .nav-item:hover .nav-link {
    background-color: rgba(40, 167, 69, 0.8);
    color: #fff;
    border-radius: 0.25rem;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: rgba(40, 167, 69, 0.8);
    color: #fff;
    border-radius: 0.25rem;
}

li {
    margin-bottom: 10px;
    padding-left: 15px;
    text-align: left;
}

.green-heading {
    color: #2e944b;
}
