{% extends "layout.html" %}

{% block title %}
    Plant Garden
{% endblock %}

{% block main %}
    <h1 style="color: #2e944b;"><b>My Garden</b></h1>
    <br>

    <script>
        setInterval(function(){
            location.reload();
        }, 30000);
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start align-middle">Image</th>
                <th class="text-start align-middle">Plant Name</th>
                <th class="text-start align-middle">Status</th>
                <th class="text-end align-middle">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in garden %}
                <tr>
                    <td class="text-start align-middle"><img src="{{ url_for('static', filename=plant['plant_image_filename']) }}" alt="{{ plant['plant_name'] }} Image" style="width: 50px; height: 50px;"></td>
                    <td class="text-start align-middle">{{ plant["plant_name"] }}</td>
                    <td class="text-start align-middle">{{ plant["status"] }}</td>
                    <td class="text-end align-middle">{{ plant["price"] }}</td>
                    <td class="text-end align-middle">
                        {% if plant["status"] == 'dry' %}
                            <form action="{{ url_for('water', plant_id=plant['id']) }}" method="post">
                                <button type="submit" class="btn btn-primary">Water</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="border-0 fw-bold text-end align-middle"><strong>User Points</strong></td>
                <td class="border-0 w-bold text-end align-middle">{{ user_points }}</td>
            </tr>
            <tr>
                <td colspan="3" class="border-0 fw-bold text-end align-middle" style="color: #2e944b;"><strong>TOTAL</strong></td>
                <td class="border-0 w-bold text-end align-middle" style="color: #2e944b;">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
