{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
    <h1>Welcome to <b>Plant Life!</b></h1>
    <p>Here you can tend the garden you might not be able to keep alive in real life.</p>
    <br>

    <ul>
        <li>Use your points to sow new seeds.</li>
        <li>Gain points by watering your dry plants.</li>
        <li>Plants will appreciate water every two minutes.</li>
        <li>Our plants are durable, so don't worry about dry plants dying.</li>
    </ul>
    <br>

    <h6 class="green-heading">Will you collect them all or amass your favourites?</h6>
    <h4>Make your life one full of plants, <b>today</b>!</h4>
{% endblock %}
