{% extends "layout.html" %}

{% block title %}
    Log
{% endblock %}

{% block main %}
    <h1>Gardening Log</h1>
        <br>

    <table class ="table">
        <thead>
            <tr>
                <th class="text-start">Plant Name</th>
                <th class="text-end">Quantity</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td class="text-start">{{log["plant_name"]}}</td>
                    <td class="text-end">{{log["quantity"]}}</td>
                    <td class="text-end">{{log["price"]}}</td>
                    <td class="text-end">{{log["transacted_at"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
