{% extends "layout.html" %}

{% block title %}
    Sow
{% endblock %}

{% block main %}
    <h1>Sow Seeds</h1>
        <br>

    <form action="/sow" method="post" id="sow-form">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="name" id="plant-select">
                <option disabled selected>Plant Type</option>
                {% for plant in plants %}
                    <option value="{{ plant.name }}" data-image="{{ url_for('static', filename=plant.image_filename) }}">{{ plant.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="number" placeholder="Number of Plants" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Plant Seeds</button>
    </form>

    <div class="mt-3 text-center" id="selected-plant-image">
    </div>

    <script>
        document.getElementById('plant-select').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var imageUrl = selectedOption.getAttribute('data-image');

            document.getElementById('selected-plant-image').innerHTML = `<img src="${imageUrl}" alt="Selected Plant Image" style="width: 80px; height: 80px;">`;
        });
    </script>

{% endblock %}
